In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load data
dft = pd.read_csv('../data/masterfile-study2-bc.csv')
df = dft[dft['Group']=='B']
df

,Simulation Name,PID,eventName,eventDateTime,isPartOfCompromise,order,scenario,infoRequested,emailSubject,MANIPULATION,Group,country,age_bin,read,EventDate,EventTime,EventDay,EventTimeBin,EventHour,EventTimeBin_OneHour
30,NWeek 4 - B01 - S,18,MessageDeleted,2024-04-10 17:18:00,False,4,B01,S,RESUME: Update Needed,PC * MS,B,TZ Tanzania,45 - 54,4,2024-04-10,17:18:00,Wednesday,Evening,17,17:00–17:59
31,NWeek 4 - B01 - S,19,MessageRead,2024-04-09 16:40:00,False,4,B01,S,RESUME: Update Needed,PC * MS,B,TZ Tanzania,18 - 24,4,2024-04-09,16:40:00,Tuesday,Afternoon,16,16:00–16:59
32,NWeek 4 - B01 - S,19,MessageDeleted,2024-04-09 16:40:00,False,4,B01,S,RESUME: Update Needed,PC * MS,B,TZ Tanzania,18 - 24,4,2024-04-09,16:40:00,Tuesday,Afternoon,16,16:00–16:59
33,NWeek 4 - B01 - S,19,SuccessfullyDeliveredEmail,2024-04-09 05:01:00,False,4,B01,S,RESUME: Update Needed,PC * MS,B,TZ Tanzania,18 - 24,4,2024-04-09,05:01:00,Tuesday,Morning,5,05:00–05:59
34,NWeek 4 - B01 - S,18,SuccessfullyDeliveredEmail,2024-04-08 13:01:00,False,4,B01,S,RESUME: Update Needed,PC * MS,B,TZ Tanzania,45 - 54,4,2024-04-08,13:01:00,Monday,Afternoon,13,13:00–13:59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2245,NWeek 2 - Y12 - B,212,SuccessfullyDeliveredEmail,2024-03-27 16:01:00,False,2,Y12,B,Update Your Information,PC * DS,B,CG Democratic Republic of Congo,18 - 24,4,2024-03-27,16:01:00,Wednesday,Afternoon,16,16:00–16:59
2246,NWeek 1 - Y12 - B,207,MessageRead,2024-03-26 19:21:00,False,1,Y12,B,Update Your Information,PC * DS,B,KE Kenya,35 - 44,4,2024-03-26,19:21:00,Tuesday,Evening,19,19:00–19:59
2247,NWeek 1 - Y12 - B,207,MessageDeleted,2024-03-26 19:21:00,False,1,Y12,B,Update Your Information,PC * DS,B,KE Kenya,35 - 44,4,2024-03-26,19:21:00,Tuesday,Evening,19,19:00–19:59
2248,NWeek 1 - Y12 - B,207,SuccessfullyDeliveredEmail,2024-03-21 21:04:00,False,1,Y12,B,Update Your Information,PC * DS,B,KE Kenya,35 - 44,4,2024-03-21,21:04:00,Thursday,Night,21,21:00–21:59
2249,NWeek 1 - Y12 - B,209,SuccessfullyDeliveredEmail,2024-03-21 21:04:00,False,1,Y12,B,Update Your Information,PC * DS,B,KE Kenya,18 - 24,4,2024-03-21,21:04:00,Thursday,Night,21,21:00–21:59

In [3]:
# Table 1: Participant Count.
df.groupby('Group')['PID'].nunique()

Group
B    142
Name: PID, dtype: int64

In [4]:
# Table 1: Participant Breakdown by Age.
df.groupby('age_bin')['PID'].nunique()

age_bin
18 - 24    69
25 - 34    48
35 - 44    17
45 - 54     8
Name: PID, dtype: int64

In [5]:
# Table 1: Participant Breakdown by Country of Origin.
df.groupby('country')['PID'].nunique()

country
BY Burundi                          2
CG Democratic Republic of Congo    21
KE Kenya                           97
RW Rwanda                           2
SS South Sudan                      1
TZ Tanzania                        16
UG Uganda                           3
Name: PID, dtype: int64

In [6]:
# Table 1: Participant Breakdown by English Reading Proficiency (ERP).
df.groupby('read')['PID'].nunique()

read
4    142
Name: PID, dtype: int64

In [7]:
# List of all email related events associated with the group.
set(df.eventName)

{'CredSupplied',
 'EmailLinkClicked',
 'MessageDeleted',
 'MessageRead',
 'MessageReplied',
 'ReportedEmail',
 'SuccessfullyDeliveredEmail'}

In [8]:
# Table 8: Breakdown of compromised counts by email scenario.
df[df['eventName']=="CredSupplied"].groupby('scenario')['isPartOfCompromise'].sum().reset_index()

   scenario  isPartOfCompromise
0       B10                   1
1       B11                   1
2       G03                   1
3       G07                   1
4       G12                   1
5       P01                   1
6       P02                   1
7       P03                   2
8       P04                   1
9       P07                   2
10      Y02                   2
11      Y07                   1

In [9]:
# 5.1.1 and 5.1.2
# Table 2: Click and Compromised Counts by 2×2 Manipulation.
# Table 3: Group B Email Summary
df.pivot_table(
    index='eventName',
    columns='MANIPULATION',
    aggfunc='size',
    fill_value=0
)

MANIPULATION                C * DS  C * MS  PC * DS   PC * MS
eventName
CredSupplied                     7       3         3        2
EmailLinkClicked                10      11        10        5
MessageDeleted                   9      12        11       15
MessageRead                     38      34        38       35
MessageReplied                   0       2         0        1
ReportedEmail                    0       1         0        0
SuccessfullyDeliveredEmail     142     142       142      142

In [10]:
# 5.2.1 and 5.2.2: Breakdown of Event Counts by Email Scenario.
df.pivot_table(
    index='eventName',
    columns='scenario',
    aggfunc='size',
    fill_value=0
)

scenario,B01,B02,B03,B04,B05,B06,B07,B08,B09,B10,...,Y03,Y04,Y05,Y06,Y07,Y08,Y09,Y10,Y11,Y12
eventName,,,,,,,,,,,,,,,,,,,,,
CredSupplied,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
EmailLinkClicked,0,0,1,0,0,0,0,1,1,1,...,0,1,0,0,4,0,0,2,0,0
MessageDeleted,3,1,1,2,1,0,3,1,2,0,...,1,2,1,2,1,0,0,0,1,2
MessageRead,5,2,4,1,0,2,3,4,3,5,...,0,2,3,3,7,2,4,3,3,3
MessageReplied,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ReportedEmail,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SuccessfullyDeliveredEmail,12,11,12,12,12,12,12,12,12,12,...,12,12,12,12,12,11,12,11,12,12

In [11]:
# 5.3.1 and 5.3.2: Breakdown of Event Counts by English Reading Proficiency (ERP). 
df.pivot_table(
    index='eventName',
    columns='read',
    aggfunc='size',
    fill_value=0
)

read                          4
eventName
CredSupplied                 15
EmailLinkClicked             36
MessageDeleted               47
MessageRead                 145
MessageReplied                3
ReportedEmail                 1
SuccessfullyDeliveredEmail  568

In [12]:
# 5.4.1: Breakdown of Event Counts by Age Group and 2×2 Manipulation.
df.pivot_table(
    index=['age_bin','MANIPULATION'],
    columns='eventName',
    aggfunc='size',
    fill_value=0
)

eventName             CredSupplied  EmailLinkClicked  MessageDeleted  \
age_bin MANIPULATION
18 - 24 C * DS                   6                 6               7
        C * MS                   2                 9               7
        PC * DS                  3                 6               7
        PC * MS                  2                 4               8
25 - 34 C * DS                   0                 1               1
        C * MS                   1                 2               1
        PC * DS                  0                 2               1
        PC * MS                  0                 1               3
35 - 44 C * DS                   1                 2               1
        C * MS                   0                 0               2
        PC * DS                  0                 1               1
        PC * MS                  0                 0               2
45 - 54 C * DS                   0                 1               0
        C * MS                   0                 0               2
        PC * DS                  0                 1               2
        PC * MS                  0                 0               2

eventName             MessageRead  MessageReplied  ReportedEmail  \
age_bin MANIPULATION
18 - 24 C * DS                 25               0              0
        C * MS                 23               2              0
        PC * DS                23               0              0
        PC * MS                24               0              0
25 - 34 C * DS                  8               0              0
        C * MS                  7               0              0
        PC * DS                 8               0              0
        PC * MS                 7               1              0
35 - 44 C * DS                  3               0              0
        C * MS                  2               0              1
        PC * DS                 4               0              0
        PC * MS                 4               0              0
45 - 54 C * DS                  2               0              0
        C * MS                  2               0              0
        PC * DS                 3               0              0
        PC * MS                 0               0              0

eventName             SuccessfullyDeliveredEmail
age_bin MANIPULATION
18 - 24 C * DS                                69
        C * MS                                69
        PC * DS                               69
        PC * MS                               69
25 - 34 C * DS                                48
        C * MS                                48
        PC * DS                               48
        PC * MS                               48
35 - 44 C * DS                                17
        C * MS                                17
        PC * DS                               17
        PC * MS                               17
45 - 54 C * DS                                 8
        C * MS                                 8
        PC * DS                                8
        PC * MS                                8

In [13]:
# 5.4.2 and Table 19: Breakdown of Event Counts by Country and 2×2 Manipulation.
df.pivot_table(
    index=['country','MANIPULATION'],
    columns='eventName',
    aggfunc='size',
    fill_value=0
)

eventName                                     CredSupplied  EmailLinkClicked  \
country                         MANIPULATION
BY Burundi                      C * DS                   1                 1
                                C * MS                   0                 1
                                PC * DS                  0                 1
                                PC * MS                  0                 0
CG Democratic Republic of Congo C * DS                   1                 1
                                C * MS                   1                 2
                                PC * DS                  0                 3
                                PC * MS                  0                 0
KE Kenya                        C * DS                   2                 5
                                C * MS                   0                 2
                                PC * DS                  1                 3
                                PC * MS                  0                 0
RW Rwanda                       C * DS                   1                 1
                                C * MS                   0                 1
                                PC * DS                  0                 0
                                PC * MS                  0                 0
SS South Sudan                  C * DS                   0                 0
                                C * MS                   0                 0
                                PC * DS                  0                 0
                                PC * MS                  0                 0
TZ Tanzania                     C * DS                   2                 2
                                C * MS                   2                 4
                                PC * DS                  1                 2
                                PC * MS                  1                 4
UG Uganda                       C * DS                   0                 0
                                C * MS                   0                 1
                                PC * DS                  1                 1
                                PC * MS                  1                 1

eventName                                     MessageDeleted  MessageRead  \
country                         MANIPULATION
BY Burundi                      C * DS                     0            2
                                C * MS                     0            2
                                PC * DS                    1            1
                                PC * MS                    1            2
CG Democratic Republic of Congo C * DS                     5           13
                                C * MS                     3           10
                                PC * DS                    5           11
                                PC * MS                    4            9
KE Kenya                        C * DS                     1            8
                                C * MS                     4            8
                                PC * DS                    3           11
                                PC * MS                    5            9
RW Rwanda                       C * DS                     1            2
                                C * MS                     1            2
                                PC * DS                    0            1
                                PC * MS                    1            1
SS South Sudan                  C * DS                     0            0
                                C * MS                     0            0
                                PC * DS                    0            0
                                PC * MS                    0            0
TZ Tanzania                     C * DS                     2           11
                                C * MS                     4           11
                                PC * DS                    2           12
                                PC * MS                    4           12
UG Uganda                       C * DS                     0            2
                                C * MS                     0            1
                                PC * DS                    0            2
                                PC * MS                    0            2

eventName                                     MessageReplied  ReportedEmail  \
country                         MANIPULATION
BY Burundi                      C * DS                     0              0
                                C * MS                     0              0
                                PC * DS                    0              0
                                PC * MS                    0              0
CG Democratic Republic of Congo C * DS                     0              0
                                C * MS                     1              0
                                PC * DS                    0              0
                                PC * MS                    0              0
KE Kenya                        C * DS                     0              0
                                C * MS                     0              1
                                PC * DS                    0              0
                                PC * MS                    0              0
RW Rwanda                       C * DS                     0              0
                                C * MS                     1              0
                                PC * DS                    0              0
                                PC * MS                    0              0
SS South Sudan                  C * DS                     0              0
                                C * MS                     0              0
                                PC * DS                    0              0
                                PC * MS                    0              0
TZ Tanzania                     C * DS                     0              0
                                C * MS                     0              0
                                PC * DS                    0              0
                                PC * MS                    1              0
UG Uganda                       C * DS                     0              0
                                C * MS                     0              0
                                PC * DS                    0              0
                                PC * MS                    0              0

eventName                                     SuccessfullyDeliveredEmail
country                         MANIPULATION
BY Burundi                      C * DS                                 2
                                C * MS                                 2
                                PC * DS                                2
                                PC * MS                                2
CG Democratic Republic of Congo C * DS                                21
                                C * MS                                21
                                PC * DS                               21
                                PC * MS                               21
KE Kenya                        C * DS                                97
                                C * MS                                97
                                PC * DS                               97
                                PC * MS                               97
RW Rwanda                       C * DS                                 2
                                C * MS                                 2
                                PC * DS                                2
                                PC * MS                                2
SS South Sudan                  C * DS                                 1
                                C * MS                                 1
                                PC * DS                                1
                                PC * MS                                1
TZ Tanzania                     C * DS                                16
                                C * MS                                16
                                PC * DS                               16
                                PC * MS                               16
UG Uganda                       C * DS                                 3
                                C * MS                                 3
                                PC * DS                                3
                                PC * MS                                3

In [14]:
# Breakdown of Event Counts by Hourly Time Bins.
df.pivot_table(
    index=['EventTimeBin_OneHour'],
    columns='eventName',
    aggfunc='size',
    fill_value=0
)

eventName,CredSupplied,EmailLinkClicked,MessageDeleted,MessageRead,MessageReplied,ReportedEmail,SuccessfullyDeliveredEmail
EventTimeBin_OneHour,,,,,,,
00:00–00:59,0,2,0,4,0,0,3
01:00–01:59,0,2,1,5,1,0,0
02:00–02:59,0,1,1,6,0,0,1
03:00–03:59,0,0,3,3,0,0,1
04:00–04:59,0,0,2,3,0,0,0
05:00–05:59,1,1,0,1,0,0,21
06:00–06:59,0,0,0,2,0,0,1
07:00–07:59,0,0,0,0,0,0,23
08:00–08:59,0,0,1,1,0,1,71
09:00–09:59,0,0,0,0,0,0,3
10:00–10:59,0,0,0,0,0,0,71
11:00–11:59,0,0,0,1,0,0,0
12:00–12:59,0,0,0,1,0,0,1
13:00–13:59,0,0,1,2,0,0,28
14:00–14:59,1,2,3,14,0,0,38
15:00–15:59,2,2,3,11,0,0,9
16:00–16:59,3,5,6,18,0,0,111
17:00–17:59,1,2,8,11,0,0,0
18:00–18:59,1,3,3,6,0,0,2
19:00–19:59,0,1,2,5,0,0,1
20:00–20:59,2,2,1,3,0,0,1
21:00–21:59,1,3,5,15,1,0,144
22:00–22:59,3,10,6,27,1,0,38
23:00–23:59,0,0,1,6,0,0,0

In [15]:
# Breakdown of Event Counts by Day of the Week.
df.pivot_table(
    index=['EventDay'],
    columns='eventName',
    aggfunc='size',
    fill_value=0
)

eventName,CredSupplied,EmailLinkClicked,MessageDeleted,MessageRead,MessageReplied,ReportedEmail,SuccessfullyDeliveredEmail
EventDay,,,,,,,
Friday,0,1,4,11,0,0,0
Monday,5,5,6,22,0,0,46
Saturday,0,0,1,3,0,0,0
Sunday,0,0,1,3,0,0,0
Thursday,2,7,8,31,1,0,239
Tuesday,3,9,12,35,1,0,135
Wednesday,5,14,15,40,1,1,148

In [16]:
# Breakdown of Event Counts by Approximate Time Bins.
df.pivot_table(
    index=['EventTimeBin'],
    columns='eventName',
    aggfunc='size',
    fill_value=0
)

eventName,CredSupplied,EmailLinkClicked,MessageDeleted,MessageRead,MessageReplied,ReportedEmail,SuccessfullyDeliveredEmail
EventTimeBin,,,,,,,
Afternoon,6,9,13,46,0,0,187
Evening,4,8,14,25,0,0,4
Morning,1,1,1,5,0,1,190
Night,4,18,19,69,3,0,187

In [17]:
# Breakdown of 2x2 Manipulation by Approximate Time Bins.
df.pivot_table(
    index=['MANIPULATION'],
    columns='EventTimeBin',
    aggfunc='size',
    fill_value=0
)

EventTimeBin  Afternoon  Evening  Morning  Night
MANIPULATION
C * DS               62       13       48     83
C * MS               53       10       58     84
PC * DS              65       26       52     61
PC * MS              81        6       41     72

In [18]:
# Table 18: Breakdown of Event Counts by Week.
df.pivot_table(
    index='eventName',
    columns='order',
    aggfunc='size',
    fill_value=0
)

order                         1    2    3    4
eventName
CredSupplied                  3    5    2    5
EmailLinkClicked              7   12    9    8
MessageDeleted               11   12   12   12
MessageRead                  37   37   38   33
MessageReplied                2    0    1    0
ReportedEmail                 0    0    1    0
SuccessfullyDeliveredEmail  142  142  142  142